td {
    background-color: #964b00;
    width: 50px;
    height: 50px;
    text-align: center;
}

.emptyTd {
    background-color: #d3a27f;
}

body {
    background-color: #f0e2e1;
}

table {
    margin: auto;
    margin-top: 3%;
    border: 1px solid #361c02;
}

.redP, .blackP{
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
    margin: auto;
}

.redP {
    background-color: red;
}

.blackP {
    background-color: black;
}

.turns {
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    width: 40%;
    text-transform: uppercase;
    font-size: 2.3vh;
    margin-top: 5%;
}

.line {
    background-color: black;
    width: 5px;
    height: 6vh;
    margin-left: 5%;
    margin-right: 5%;
}

.red-turn {
    font-weight: bold;
}
.black-turn {
    color: grey;
}